<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ouc.b304.com.fenceplaying">

    <application
        android:name=".application.GreenDaoInitApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width"
            android:value="1920" />
        <meta-data
            android:name="design_height"
            android:value="1128" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.PlayerShowActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.ResponseSelect"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".activity.SingleSpotActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activity.MatrixActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".activity.AccuracySelectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.MatrixAccuracyActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.LAccuracyActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.SingleLineActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.DataShowSelect"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.DataShowActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.DataCompareActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <!--<activity
            android:name=".activity.NewMainActivity"
            android:theme="@style/QMUI.Compat">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>-->
        <activity
            android:name=".activity.TrainTypeSelectActivity"
            ></activity>
        <activity
            android:name=".activity.InfoSelectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.CoachShowActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.AccuracyActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>


        <!--以下新版本活动-->
        <activity android:name=".activity.newVersion.BaseActivity" />
        <activity
            android:name=".activity.newVersion.NewMain"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".activity.newVersion.Test"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activity.newVersion.NewSingleSpotActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>

        <activity
            android:name=".activity.newVersion.NewSingleLineActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity
            android:name=".activity.newVersion.NewMatrixActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity
            android:name=".activity.newVersion.NewAccuracyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <!-- 读取串口数据 -->
        <service android:name=".service.ReadDataService" />
    </application>


</manifest>